/* CUSTOMIZE THE CAROUSEL 
--------------------------------------------------*/

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights beacause of positioning of img element */
.carousel-item {
    height: 32rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/* MARKETING CONTENT 
--------------------------------------------------*/

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

/* FEATURETTES */
.featurette-divider {
    margin: 5rem 0; /* Space out tghe Bootstrap <hr> mores */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -0.05rem;
}

.featurette > .col-md-5 > img {
    width: 100%;
}

/* RESPONSIVE CSS 
--------------------------------------------------*/
@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 60em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

@media (min-width: 768px) {
    .featurette.second > .col-md-7 {
        order: 1;
    }
}
